---

---

<footer id="contacto" class="flex flex-col justify-center items-center">
    <hr class="h-[2px] w-2/4 min-w-[3rem] border-t-0 bg-transparent bg-gradient-to-r from-transparent via-white to-transparent bg-center md:my-4 max-[1024px]:mt-2">
    <h2 class="text-white font-bold text-4xl">
        Contacto
    </h2>
    <a class="mt-4 mb-4" href="https://discord.com/invite/zendetects" target="_blank">
        <button type="button" class="text-white bg-blue-700 hover:bg-blue-800 focus:outline-none focus:ring-4 focus:ring-blue-300 font-medium rounded-full text-sm px-5 py-2.5 text-center me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Discord</button>
    </a>
</footer>