---

---
<section id="feedback" class="flex justify-center items-center flex-col">
    <hr class="h-[2px] w-2/4 min-w-[3rem] border-t-0 bg-transparent bg-gradient-to-r from-transparent via-white to-transparent bg-center md:my-7 max-[1024px]:mt-2">
    <h2 class="text-white font-bold text-4xl max-[1024px]:mt-4 mb-4">
        Feedbacks
    </h2>
    <div class="flex justify-center items-center max-[880px]:flex-col">
        <div class="max-w-2xl px-4 py-2 bg-red-500 rounded-lg shadow-md dark:bg-gray-800 mb-4">
            <div class="flex items-center justify-between max-[500px]:flex-col">
                <span class="text-xs font-light text-white dark:text-gray-400">19/05/2024</span>
                <a target="_blank" href="https://discord.com/invite/zendetects" class="ml-2 px-2 py-2 text-sm/[10px] font-bold text-white transition-colors duration-300 transform bg-gray-600 rounded cursor-pointer hover:bg-gray-500" tabindex="0" role="button">Comprador de Metodos Anti Bypass y Curso Advanced</a>
            </div>

            <div class="mt-2">
                <a target="_blank" href="https://discord.com/invite/zendetects" class="text-xl font-bold text-white dark:text-white dark:hover:text-gray-200 max-[700px]:text-base" tabindex="0" role="link">10/10 todo rapido y muy piola los metodos</a>
            </div>
            <div class="flex items-center justify-between mt-2">
                <div class="flex items-center">
                    <img class="hidden object-cover w-8 h-8 mx-2 rounded-full sm:block" src="./frn.png" alt="avatar">
                    <a target="_blank" href="https://discord.com/invite/zendetects" class="font-bold text-white cursor-pointer dark:text-gray-200" tabindex="0" role="link">$frn</a>
                </div>
            </div>
        </div>
        <div class="max-w-2xl px-4 py-2 bg-red-500 rounded-lg shadow-md dark:bg-gray-800 mb-4 ml-4 max-[880px]:ml-0">
            <div class="flex items-center justify-between max-[500px]:flex-col">
                <span class="text-xs font-light text-white dark:text-gray-400">14/05/2024</span>
                <a target="_blank" href="https://discord.com/invite/zendetects" class=" px-2 py-2 text-sm/[10px] font-bold text-white transition-colors duration-300 transform bg-gray-600 rounded cursor-pointer hover:bg-gray-500" tabindex="0" role="button">Comprador de Strings</a>
            </div>
        
            <div class="mt-2">
                <a target="_blank" href="https://discord.com/invite/zendetects" class="text-xl font-bold text-white dark:text-white dark:hover:text-gray-200 max-[700px]:text-base" tabindex="0" role="link">Unos maquinas y buenos strings</a>
            </div>
        
            <div class="flex items-center justify-between mt-2">
                <div class="flex items-center">
                    <img class="hidden object-cover w-8 h-8 mx-2 rounded-full sm:block" src="./abraham.png" alt="avatar">
                    <a target="_blank" href="https://discord.com/invite/zendetects" class="font-bold text-white cursor-pointer dark:text-gray-200" tabindex="0" role="link">! Abrahamcosito</a>
                </div>
            </div>
        </div>
    </div>
    <div class="max-w-2xl px-4 py-2 bg-red-500 rounded-lg shadow-md dark:bg-gray-800 mb-4 max-[700px]:max-w-xl">
        <div class="flex items-center justify-between max-[500px]:flex-col">
            <span class="text-xs font-light text-white dark:text-gray-400">14/06/2024</span>
            <a target="_blank" href="https://discord.com/invite/zendetects" class="ml-2 px-2 py-2 text-sm/[10px] font-bold text-white transition-colors duration-300 transform bg-gray-600 rounded cursor-pointer hover:bg-gray-500" tabindex="0" role="button">Comprador de Curso Advanced</a>
        </div>
        <div class="mt-2">
            <a target="_blank" href="https://discord.com/invite/zendetects" class="text-xl font-bold text-white dark:text-white dark:hover:text-gray-200 max-[700px]:text-base" tabindex="0" role="link">Muy buen curso busca espacio para que todos puedan entrar y toca temas basicos en la primer aula 100/100 Full recomendado</a>
        </div>
        <div class="flex items-center justify-between mt-2">
            <div class="flex items-center">
                <img class="hidden object-cover w-8 h-8 mx-2 rounded-full sm:block" src="./kori.png" alt="avatar">
                <a target="_blank" href="https://discord.com/invite/zendetects" class="font-bold text-white cursor-pointer dark:text-gray-200" tabindex="0" role="link">OGS | Korii</a>
            </div>
        </div>
    </div>
    <h2 class="text-white font-bold text-4xl max-[1024px]:mt-4 mb-4 max-[800px]:text-2xl max-[545px]:text-xl">
        ¡Mas feedbacks en nuestro discord!
    </h2>
</section>