---

---

<header class="flex justify-evenly items-center mt-2">
    <div class="flex">
        <h2 class="font-semibold text-white mr-2">Zen Detects</h2>
        <svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="#ffffff"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-zoom"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M10 10m-7 0a7 7 0 1 0 14 0a7 7 0 1 0 -14 0" /><path d="M21 21l-6 -6" /></svg>
    </div>
    <nav class="flex justify-center items-center">
        <a href="" class="mr-4 hover:text-red-500 duration-300 font-semibold text-white">Inicio</a>
        <a href="" class="mr-4 hover:text-red-500 duration-300 font-semibold text-white">Servicios</a>
        <a href="" class="hover:text-red-500 duration-300 font-semibold text-white">Contacto</a>
    </nav>
</header>