---
import Logo from './public/logo.png';
---

<main id="inicio" class="pt-12 flex justify-center items-center flex-col">
    <div class="flex justify-center items-center">
        <img class="mr-4 w-24 h-24 max-[700px]:w-16 max-[700px]:h-16" src="./logo.png" alt="">
        <h1 class="text-white font-bold text-4xl max-[700px]:text-2xl max-[500px]:text-xl">
            Zen Detects - Servicios <span class="text-red-500">Anti Bypass</span>
        </h1>
    </div>
    <p class="text-white font-semibold mt-2 max-[700px]:text-center">
        Ofrecemos cursos de SS de nivel basico y avanzado, metodo anti-bypass y strings para scanners.
    </p>
</main>