---

---

<main class="mt-10 flex justify-center items-center flex-col">
    <div class="flex justify-center items-center">
        <img class="mr-4 w-24 h-24" src="./public/logo.png" alt="">
        <h1 class="text-white font-bold text-4xl">
            Zen Detects - Servicios <span class="text-red-500">Anti Bypass</span>
        </h1>
    </div>
    <p class="text-white font-semibold mt-2">
        Ofrecemos cursos de SS de nivel basico y avanzado, metodo anti-bypass y strings para scanners.
    </p>
</main>